<%
require 'net/http'
require 'json'

def fetch_dog_image(breed)
  uri = URI("https://dog.ceo/api/breed/#{breed}/images/random")
  
  response = Net::HTTP.get_response(uri)
  data = JSON.parse(response.body)
  
  if data['status'] == 'success'
    return data['message']
  else
    return nil
  end
end
%>


<div class="img-container"> 
    <% image_url = fetch_dog_image(@breed_name) %>
    <% if image_url %>
      <img src="<%= image_url %>" alt="<%= @breed_name %> image" />
    <% else %>
      <p>No image available</p>
    <% end %>
    <h1><%= @breed_name %></h1>
</div>

<style>
    .img-container {
        width: fit-content;
        margin: auto;
        margin-top:70px;
    }

    .img-container img {
        width: 700px;
    }

    .img-container h1 {
        text-align: center;
        text-transform: capitalize;
    }
</style>
